{# blood_pressure_python_2/users/templates/users/login.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Blood Pressure Tracker{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
{% endblock %}

{% block extra_js %} {# Add this block #}
    <script src="{% static 'users/js/password_toggle.js' %}"></script>
{% endblock %}