{# blood_pressure_python_2/users/templates/users/password_reset_form.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h2>Reset Your Password</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email you instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            <button type="submit">Send password reset email</button>
        </div>
    </form>
{% endblock %}