{# blood_pressure_python_2/users/templates/users/password_reset_done.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
    <h2>Password Reset Email Sent</h2>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <p><a href="{% url 'login' %}">Return to login</a></p>
{% endblock %}