{# blood_pressure_python_2/users/templates/users/signup.html #}
{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up - Blood Pressure Tracker{% endblock %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small style="color: gray;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
{% endblock %}

{% block extra_js %} {# Add this block #}
    <script src="{% static 'users/js/password_toggle.js' %}"></script>
{% endblock %}